<h4>Location: {{fullLocation}}</h4>

<h3>Rentals available in {{model.name}}:</h3>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<button {{action 'destroyCity' model}}>Delete City</button>

{{new-rental save2="save3" city=model}}
